-- DropForeignKey
ALTER TABLE "public"."accounts" DROP CONSTRAINT "accounts_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."api_call_logs" DROP CONSTRAINT "api_call_logs_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."api_keys" DROP CONSTRAINT "api_keys_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."contacts" DROP CONSTRAINT "contacts_demoId_fkey";

-- DropForeignKey
ALTER TABLE "public"."demos" DROP CONSTRAINT "demos_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."document_chunks" DROP CONSTRAINT "document_chunks_documentId_fkey";

-- DropForeignKey
ALTER TABLE "public"."documents" DROP CONSTRAINT "documents_knowledgeBaseId_fkey";

-- DropForeignKey
ALTER TABLE "public"."helpdesk_user_inboxes" DROP CONSTRAINT "helpdesk_user_inboxes_helpdeskUserId_fkey";

-- DropForeignKey
ALTER TABLE "public"."helpdesk_users" DROP CONSTRAINT "helpdesk_users_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."integrations" DROP CONSTRAINT "integrations_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."knowledge_bases" DROP CONSTRAINT "knowledge_bases_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."sessions" DROP CONSTRAINT "sessions_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."system_message_versions" DROP CONSTRAINT "system_message_versions_templateId_fkey";

-- DropForeignKey
ALTER TABLE "public"."system_messages" DROP CONSTRAINT "system_messages_demoId_fkey";

-- DropForeignKey
ALTER TABLE "public"."transactions" DROP CONSTRAINT "transactions_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."user_features" DROP CONSTRAINT "user_features_featureId_fkey";

-- DropForeignKey
ALTER TABLE "public"."user_features" DROP CONSTRAINT "user_features_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."verification_tokens" DROP CONSTRAINT "verification_tokens_userId_fkey";

-- DropForeignKey
ALTER TABLE "public"."workflow_knowledge_bases" DROP CONSTRAINT "workflow_knowledge_bases_knowledgeBaseId_fkey";

-- DropForeignKey
ALTER TABLE "public"."workflow_knowledge_bases" DROP CONSTRAINT "workflow_knowledge_bases_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "public"."workflows" DROP CONSTRAINT "workflows_demoId_fkey";

-- DropForeignKey
ALTER TABLE "public"."workflows" DROP CONSTRAINT "workflows_userId_fkey";

-- DropTable
DROP TABLE "public"."accounts";

-- DropTable
DROP TABLE "public"."analytics";

-- DropTable
DROP TABLE "public"."api_call_logs";

-- DropTable
DROP TABLE "public"."api_keys";

-- DropTable
DROP TABLE "public"."blocked_email_domains";

-- DropTable
DROP TABLE "public"."contacts";

-- DropTable
DROP TABLE "public"."demos";

-- DropTable
DROP TABLE "public"."document_chunks";

-- DropTable
DROP TABLE "public"."documents";

-- DropTable
DROP TABLE "public"."features";

-- DropTable
DROP TABLE "public"."helpdesk_user_inboxes";

-- DropTable
DROP TABLE "public"."helpdesk_users";

-- DropTable
DROP TABLE "public"."integrations";

-- DropTable
DROP TABLE "public"."knowledge_bases";

-- DropTable
DROP TABLE "public"."pricing_plans";

-- DropTable
DROP TABLE "public"."sessions";

-- DropTable
DROP TABLE "public"."system_message_templates";

-- DropTable
DROP TABLE "public"."system_message_versions";

-- DropTable
DROP TABLE "public"."system_messages";

-- DropTable
DROP TABLE "public"."tier_limits";

-- DropTable
DROP TABLE "public"."transactions";

-- DropTable
DROP TABLE "public"."user_features";

-- DropTable
DROP TABLE "public"."users";

-- DropTable
DROP TABLE "public"."verification_tokens";

-- DropTable
DROP TABLE "public"."workflow_knowledge_bases";

-- DropTable
DROP TABLE "public"."workflows";

-- DropEnum
DROP TYPE "public"."IntegrationType";

-- DropEnum
DROP TYPE "public"."KBType";

-- DropEnum
DROP TYPE "public"."ProcessingStatus";

-- DropEnum
DROP TYPE "public"."SubscriptionStatus";

-- DropEnum
DROP TYPE "public"."SubscriptionTier";

-- DropEnum
DROP TYPE "public"."UserRole";

-- DropEnum
DROP TYPE "public"."WorkflowStatus";

